@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1060e0 #111827;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #111827;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1060e0;
    border-radius: 29px;
    border: 4px solid #111827;
  }